* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: rgb(7, 57, 90);
  /* min-width: 100%; */
}

.Router {
  /* --routerWidth79%; */
  background: rgb(7, 57, 90);
  padding: 20px;

  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50px;
  width: 69%;
  /* border-bottom: 2px solid black; */
}
.headerInRouter {
  /* font-size: 30px;
  font-weight: bold; */
  color: white;
}
.allLink {
  position: absolute;
  top: 50%;
  left: 30%;

  /* width: 100%;  */
  /* transform: translate(-50%, -50%); */
}
.linkRouiter {
  /* background: green; */

  margin-left: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.linkRouiter:hover {
  color: rgb(32, 124, 209);
}
.searchinHeader {
  color: white;
  padding: 20px;
  height: 3px;
  width: 250px;
  border: 0px;
  border-bottom: 5px solid grey;
}

.searchinHeader:hover {
  border: 0px;
  border-bottom: 5px solid rgb(19, 118, 175);
}
.searchinHeader:focus {
  border: 0px;
  outline: none;
  border-bottom: 5px solid rgb(19, 118, 175);
}

.aside-outer {
  width: calc(100% - 79%);
  height: 100vh;
  background: rgb(24, 44, 73);
  position: fixed;
  right: 0;
  top: 0;
}

.aside-outer h1 {
  background: rgb(24, 44, 73);
}
.row-posters {
  display: grid;

  grid-template-columns: 4fr 4fr 4fr 4fr;
  justify-content: flex-end;
  /* background: green; */
  margin-top: 50px;
  width: 79%;
}
.row-poster {
  width: 70%;
  max-height: 300px;
  margin: 20px;
}

.class-for-row {
  color: rgb(30, 128, 167);
  text-align: center;
}
