* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  display: relative;
  /* min-width: 100%; */
}

body {
  background: rgb(2, 39, 65);
}
.Router {
  /* --routerWidth79%; */
  background: rgb(2, 39, 65);
  padding: 20px;

  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50px;
  width: 69%;
  /* border-bottom: 2px solid black; */
}
.headerInRouter {
  /* font-size: 30px;
  font-weight: bold; */
  color: white;
}
.allLink {
  position: absolute;
  top: 50%;
  left: 30%;

  /* width: 100%;  */
  /* transform: translate(-50%, -50%); */
}
.linkRouiter {
  /* background: green; */

  margin-left: 10px;
  text-decoration: none;
  color: rgb(16, 103, 161);
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.linkRouiter:hover {
  color: rgb(15, 82, 145);
}

.active {
  color: white;
}

.active:hover {
  color: grey;
}
.searchinHeader {
  color: white;
  background: rgb(2, 39, 65);
  padding: 30px;
  height: 3px;
  width: 250px;
  border: 0px;
  border-bottom: 2px solid grey;
}

.searchinHeader:hover {
  border: 0px;
  border-bottom: 2px solid rgb(19, 118, 175);
}
.searchinHeader:focus {
  border: 0px;
  outline: none;
  border-bottom: 5px solid rgb(19, 118, 175);
}

.aside-outer {
  width: calc(100% - 79%);
  height: 100vh;
  padding: 20px;
  background: rgb(11, 24, 44);
  position: fixed;
  right: 0;
  top: 0;
}
.aside-outer h3,
.aside-outer label,
.aside-outer select {
  font-weight: bold;
  color: rgb(26, 83, 121);
  margin-top: 30px;
}

.aside-select {
  margin-top: 30px;
 
}

select {
  width : 100%; 
  height: 40px;
  padding: 10px; 
  outline: none;
  color:white !important;
  background: rgb(7, 57, 90);
  transition: all 0.09s;
  border-radius: 10px;
}

select:hover{
  border: 1px solid white;
}

.option {
  width : 100%; 
  height: 40px;
 
  color:white !important;
  background: rgb(7, 57, 90);

}

/* .aside-outer h1 {
  background: rgb(24, 44, 73);
} */
.row-posters {
  display: grid;
  background: rgb(2, 39, 65);
  grid-template-columns: 4fr 4fr 4fr 4fr;
  justify-content: flex-end;
  /* background: green; */
  margin-top: 50px;
  width: 79%;
}
.row-poster {
  width: 70%;
  max-height: 300px;
  margin: 20px;
}

.class-for-row {
  color: rgb(30, 128, 167);
  text-align: center;
}

.loading {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;

  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
}
